{% extends "Base.tmpl" %}

{% block title %}{{ Settings.DatabaseSettings['site_name'] }} - {{ LANG("MANAGE_TITLE") }}{% endblock %}

{% block content %}
<div class="HorizontalBreak"></div>
<br/>

{% if error_type == "" and success == false %}
	<br/>
{% elseif success == true %}
	<center>
		<div id="success_message_text_small">	
		{{ LANG("CHANGE_PASSWORD_SUCCESS") }}
		<br/><br/></div>
	</center>
{% else %}
	<center>
		<div id="error_message_text_small">	
		{% if error_type=="no_password" %}
			{{ LANG("INCOMPLETE_FORM") }}
		{% elseif error_type=="invalid_password" %}
			{{ LANG("INVALID_PASSWORD") }}
		{% elseif error_type=="invalid_confirm" %}
			{{ LANG("UNCONFIRMED_PASSWORD") }}
		{% endif %}		
		<br/><br/></div>
	</center>
{% endif %}

<form enctype="multipart/form-data" action="{{ BASE_SCRIPT_URI }}manage/changepassword/" method="POST" name="loginform" id="loginform">

	<input type="hidden" name="SESSION" id="SESSION" value="{{ SESSION_ID }}"/>

	<table cellspacing="2px" cellpadding="0px" id="loginbox" style="width: 390px;">	
		<tr>
			<td class="postblock">{{ LANG("OLD_PASSWORD_LABEL") }}</td>
			<td><input type="password" name="old_password" id="old_password" style="width:200px;" value=""/></td>
		</tr>
		<tr>
			<td class="postblock">{{ LANG("NEW_PASSWORD_LABEL") }}</td>
			<td><input type="password" name="new_password" id=new_password" style="width:200px;" value=""/></td>
		</tr>
		<tr>
			<td class="postblock">{{ LANG("CONFIRM_PASSWORD_LABEL") }}</td>
			<td><input type="password" name="confirm_password" id="confirm_password" style="width:200px;" value=""/></td>
		</tr>
		<tr>
			<td colspan="2"style="text-align:right;">
				<input type="submit" value="{{ LANG("SUBMIT") }}"/>
			</td>
		</tr>
	</table>

</form>

<br/>
<div class="HorizontalBreak"></div>
{% endblock %}
