{% extends "Manage/ManageBase.tmpl" %}

{% block title %}{{ Settings.DatabaseSettings['site_name'] }} - {{ LANG("MANAGE_TITLE") }}{% endblock %}

{% block management_content %}
	<div class="management_box">
		<h1>Management Panel</h1>
		Herp
		Herp
		Herp<br/>
		Herp<br/>
		Herp<br/>
		Herp<br/>
		Herp<br/>
		Herp<br/>
	</div>
{% endblock %}
