{% extends "Manage/ManageBase.tmpl" %}

{% block title %}{{ Settings.DatabaseSettings['site_name'] }} - {{ LANG("MANAGE_TITLE") }}{% endblock %}

{% block management_content %}
	<div class="management_box">
		<h1>{{ LANG("MANAGEMENT_PANEL_HOME_TITLE") }}</h1>
		{{ LANG("MANAGEMENT_PANEL_HOME_DESCRIPTION")|raw }}
	</div>
	<div class="management_box">
		<h2>{{ LANG("MANAGEMENT_PANEL_HOME_STATISTICS") }}</h2>
	</div>
	<div class="management_box">
		<h2>{{ LANG("MANAGEMENT_PANEL_HOME_GRAPHS") }}</h2>
	</div>
{% endblock %}
