{% extends "Base.tmpl" %}

{% block title %}{{ Settings.DatabaseSettings['site_name'] }} - {{ LANG("MANAGE_TITLE") }}{% endblock %}

{% block content %}
<div class="HorizontalBreak"></div>
<br/>

{% if error_type == "" and success == false %}
	<br/>
{% elseif success == true %}
	<center>
		<div id="success_message_text_small">	
		{{ LANG("RESET_PASSWORD_EMAIL_SENT") }}
		<br/><br/></div>
	</center>
{% else %}
	<center>
		<div id="error_message_text_small">	
		{% if error_type=="no_email" %}
			{{ LANG("INCOMPLETE_FORM") }}
		{% endif %}		
		<br/><br/></div>
	</center>
{% endif %}

<form enctype="multipart/form-data" action="{{ BASE_SCRIPT_URI }}manage/resetpassword/" method="POST" name="loginform" id="loginform">

	<input type="hidden" name="SESSION" id="SESSION" value="{{ SESSION_ID }}"/>

	<table cellspacing="2px" cellpadding="0px" id="loginbox" style="width: 365px;">	
		<tr>
			<td class="postblock">{{ LANG("EMAIL_PASSWORD_LABEL") }}</td>
			<td><input type="text" name="email" id="email" style="width:200px;" value=""/></td>
		</tr>
		<tr>
			<td colspan="2"style="text-align:right;">
				<input type="submit" value="{{ LANG("SUBMIT") }}"/>
			</td>
		</tr>
	</table>

</form>

<br/>
<div class="HorizontalBreak"></div>
{% endblock %}
