{% extends "Base.tmpl" %}

{% block title %}{{ Settings.DatabaseSettings['site_name'] }} - /{{ board.url }}/{% endblock %}

{% block page_title %}
<div id="small_title_container">
	<div id="small_title">/{{ board.url }}/ - {{ board.name }}</div>
	<div id="small_subtitle">{{ board.description }}</div>
</div>
{% endblock %}
									
{% block content %}
<div class="HorizontalBreak"></div>
<br/>

{% if error_type=="" %}
	<br/>
{% else %}
	<center>
		<div id="error_message_text_small">	
		{% if error_type=="no_password" %}
			{{ LANG("NO_PASSWORD") }}
		{% elseif error_type=="invalid_login" %}
			{{ LANG("INVALID_LOGIN") }}
		{% elseif error_type=="timeout" %}
			{{ LANG("LOGIN_TIMEOUT", Settings.DatabaseSettings['failed_login_expire_time'])|raw }}
		{% endif %}		
		<br/><br/></div>
	</center>
{% endif %}

<form enctype="multipart/form-data" action="{{ BASE_SCRIPT_URI }}{{ board.url }}/login"" method="POST" name="loginform" id="loginform">

	<input type="hidden" name="SESSION" id="SESSION" value="{{ SESSION_ID }}"/>

	<table cellspacing="2px" cellpadding="0px" id="loginbox" style="width:400px;">	
		<tr>
			<td class="postblock" colspan="2">This board is password protected.<br/><br/>If you don't know the password but believe that you should be allowed access, please contact an administrator.<br/><br/></td>
		</tr>
		<tr>
			<td class="postblock">{{ LANG("PASSWORD_LABEL") }}</td>
			<td><input type="password" name="password" id="password" style="width:180px;" value="" style="password"/> <input type="submit" value="{{ LANG('SUBMIT') }}"/></td>
		</tr>
	</table>

</form>

<br/>
<div class="HorizontalBreak"></div>
{% endblock %}
